<div class="import-students">
  <h1>Import Students</h1>

  <%= form_tag standard_import_path, multipart: true do %>
    <%= file_field_tag :file, class: "btn btn-primary choose-file" %>
    <%= submit_tag "Import Standard Students", class: "submit-button btn btn-primary btn-lg" %>
  <% end %>
</div>
