<div class="container-fluid" ng-app="busRoutesApp">
  <div class="panel panel-success" ng-controller="StudentsListCtrl">
    <div class="panel-body col-md-4">
      <button ng-hide="formDisplay" ng-click="showForm()">Add A New Student</button>
      <form ng-cloak ng-show="formDisplay" ng-submit="addNewStudent()">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="First Name" ng-model="NewStudent.first_name">
          <input class="form-control" type="text" placeholder="Last Name" ng-model="NewStudent.last_name">
          <input class="form-control" type="text" placeholder="School" ng-model="NewStudent.school">
          <input class="form-control" type="text" placeholder="Grade" ng-model="NewStudent.grade">
          <input class="form-control" type="text" placeholder="Phone Number" ng-model="NewStudent.phone">
          <input class="form-control" type="text" placeholder="Email Address" ng-model="NewStudent.email">
          <input class="form-control" type="text" placeholder="Street Address" ng-model="NewStudent.street_address">
          <input class="form-control" type="text" placeholder="City" ng-model="NewStudent.city">
          <input class="form-control" type="text" placeholder="Postal Code" ng-model="NewStudent.postal_code">
          <input type="submit" value="Add New Student">
        </div>
      </form>
      <button ng-cloak ng-show="formDisplay" ng-click="hideForm()">Finished Adding Students</button>
    </div>
  </div>
  <div class="col-md-12" ng-controller="MapCtrl">
    <div class="col-md-12">
      <div class="search-box">
        Search:
        <input class="form-control" type="text" placeholder="Search" ng-model="Search">
      </div>
      FILTERS:
      <select ng-model="Route" ng-change="deleteRouteFilter()"> 
        <option value="" default selected>All Routes</option>
        <option value="!">No Route</option>
        <option value="101">101</option>
        <option value="102">102</option>
        <option value="103">103</option>
        <option value="104">104</option>
        <option value="105">105</option>
        <option value="106">106</option>
        <option value="107">107</option>
        <option value="108">108</option>
        <option value="201">101</option>
        <option value="202">202</option>
        <option value="203">203</option>
        <option value="204">204</option>
        <option value="205">205</option>
        <option value="206">206</option>
        <option value="207">207</option>
        <option value="208">208</option>
      </select>
      <select ng-model="School"> 
        <option value="" default selected>All Schools</option>
        <option value="SCS">Surrey Christian</option>
        <option value="LCS">Langley Christian</option>
        <option value="CCES">Credo Elementary</option>
        <option value="CCHS">Credo High</option>
        <option value="WO">William of Orange</option>
        <option value="CCS">Cloverdale Christian</option>
      </select>
      <select ng-model="City" >
        <option value="" default selected>All Cities</option>
        <option value="Surrey">Surrey</option>
        <option value="Langley">Langley</option>
        <option value="Cloverdale">Cloverdale</option>
        <option value="Abbotsford">Abbotsford</option>
        <option value="Delta">Delta</option>
        <option value="New Westminster">New Westminster</option>
        <option value="Coquitlam">Coquitlam</option>
        <option value="Burnaby">Burnaby</option>
        <option value="Port Coquitlam">Port Coquitlam</option>
        <option value="Port Moody">Port Moody</option>
        <option value="North Delta">North Delta</option>
        <option value="Aldergrove">Aldergrove</option>
        <option value="White Rock">White Rock</option>
        <option value="Fort Langley">Fort Langley</option>
      </select>
      ORDER By:
      <select ng-model="firstOrderSelection">
        <option value="last_name">Last Name</option>
        <option value="school">School</option>
        <option value="city">City</option>
      </select>
      <select ng-model="secondOrderSelection">
        <option value="" default selected>Secondary Ordering</option>
        <option value="last_name">Last Name</option>
        <option value="school">School</option>
        <option value="city">City</option>
      </select>
      <p class="filter-results">
<!-- The results variable is populated by the ng-repeat directive below -->
        <ng-pluralize 
            count="results.length"
            when="{'0': 'No students match the selected filter criteria',
                   '1': '1 student matches the selected filter criteria',
                   'other': '{} students match the selected filter criteria'}">
        </ng-pluralize>
      </p>
      <table>
        <tr> 
          <th>First Name</th>
          <th>Last Name</th>
          <th class="narrow">School</th>
          <th class="narrow">Grade</th>
          <th>Street Address</th>
          <th>City</th>
          <th class="narrow">Route</th>
          <th>Stop Location</th>
          <th class="narrow">M-T</th>
          <th class="narrow">Friday</th>
          <th class="narrow">1 or 2 Way</th>
          <th class="table-button"></th>
          <th class="table-button"></th>
        </tr>
<!-- The 'as results' allows the result of the filter to be stored in a variable called results so the information can be used elsewhere. In this case it is used to display the number of students that meet the user's filter criteria. -->
<tr ng-repeat="student in students | filter:Search | filter:{bus_route:Route} | filter:{school:School} |filter:City | orderBy:[firstOrderSelection, secondOrderSelection] as results">
          <td>{{student.first_name}}</td>
          <td>{{student.last_name}}</td>
          <td>{{student.school}}</td>
          <td>{{student.grade}}</td>
          <td>{{student.street_address}}</td>
          <td>{{student.city}}</td>
          <td>{{student.bus_route}}</td>
          <td>{{student.stop}}</td>
          <td>{{student.mon_thurs}}</td>
          <td>{{student.friday}}</td>
          <td>{{student.return_trip}}</td>
          <td class="delete-button"><button ng-click="removeStudent(student.id)">Delete</button></td>
          <td class="details-button"><button ng-click="showStudentDetails(student.id)">Details</button></td>
        </tr>
      </table>
      <ul ng-show="showDetails" ng-model="detailStudent">
        <li><span class="heading">Name:</span> {{detailStudent.first_name}} {{detailStudent.last_name}}</li>
        <li><span class="heading">Route:</span> {{detailStudent.bus_route}}</li>
        <li><span class="heading">Stop:</span> {{detailStudent.stop}}</li>
        <li><span class="heading">Mon-Thurs Time:</span> {{detailStudent.mon_thurs}}</li>
        <li><span class="heading">Friday Time:</span> {{detailStudent.friday}}</li>
        <li><span class="heading">Return:</span> {{detailStudent.return_trip}}</li>
        <li><span class="heading">School:</span> {{detailStudent.school}}</li>
        <li><span class="heading">Grade:</span> {{detailStudent.grade}}</li>
        <li><span class="heading">Phone:</span> {{detailStudent.phone}}</li>
        <li><span class="heading">Additional Phone:</span> {{detailStudent.addition_phones}}</li>
        <li><span class="heading">Email:</span> {{detailStudent.email}}</li>
        <li><span class="heading">Additional Email:</span> {{detailStudent.additional_email}}</li>
        <li><span class="heading">Parents:</span> {{detailStudent.parent_names}}</li>
        <li><span class="heading">Address:</span> {{detailStudent.street_address}}</li>
        <li><span class="heading">City:</span> {{detailStudent.city}}</li>
        <li><span class="heading">Postal Code:</span> {{detailStudent.postal_code}}</li>
        <li><span class="heading">Comments:</span> {{detailStudent.comments}}</li>
      </ul>
      <button ng-show="showDetails" ng-click="showDetails = false">Hide Student Details</button> 
    </div>
    <select ng-model="selectedRoute" > 
      <option value="" disabled selected >Select Your Route</option>
      <option value="101" >101</option>
      <option value="102" >102</option>
      <option value="103" >103</option>
      <option value="104" >104</option>
      <option value="105" >105</option>
      <option value="106" >106</option>
      <option value="107" >107</option>
      <option value="108" >108</option>
      <option value="201" >201</option>
      <option value="202" >202</option>
      <option value="203" >203</option>
      <option value="204" >204</option>
      <option value="205" >205</option>
      <option value="206" >206</option>
      <option value="207" >207</option>
      <option value="208" >208</option>
    </select>
    <button ng-click="firstStep()">Show this route</button> 
    <button ng-click="printMap()">Print Map</button> 
    <button ng-click="resetMarkers(results)">Show Only Students In List On Map</button> 
    <button ng-click="addMarkers(results)">Add Students In List To Map</button> 
    <div class="edit-student">
      <p>{{clickedStudent.first_name}}</p>
      <p>{{clickedStudent.last_name}}</p>
      <p>{{clickedStudent.school}}</p>
      <input class="form-control" type="text" placeholder="Route" ng-model="clickedStudent.bus_route">
      <input class="form-control" type="text" placeholder="Stop" ng-model="clickedStudent.stop">
      <input class="form-control" type="text" placeholder="Mon-Thurs Time" ng-model="clickedStudent.mon_thurs">
      <input class="form-control" type="text" placeholder="Friday Time" ng-model="clickedStudent.friday">
      <button ng-click="updateStudent()">Update Student</button>
    </div>


    <div id="map-canvas">
    </div>
  </div>
</div>
















