<div class="container-fluid" ng-app="busRoutesApp">
  <div class="panel panel-success" ng-controller="StudentsListCtrl">
    <div class="panel-body col-md-4">
      <button ng-hide="formDisplay" ng-click="showForm()">Add A New Student</button>
      <form ng-cloak ng-show="formDisplay" ng-submit="addNewStudent()">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="First Name" ng-model="NewStudent.first_name">
          <input class="form-control" type="text" placeholder="Last Name" ng-model="NewStudent.last_name">
          <input class="form-control" type="text" placeholder="School" ng-model="NewStudent.school">
          <input class="form-control" type="text" placeholder="Grade" ng-model="NewStudent.grade">
          <input class="form-control" type="text" placeholder="Phone Number" ng-model="NewStudent.phone">
          <input class="form-control" type="text" placeholder="Email Address" ng-model="NewStudent.email">
          <input class="form-control" type="text" placeholder="Street Address" ng-model="NewStudent.street_address">
          <input class="form-control" type="text" placeholder="City" ng-model="NewStudent.city">
          <input class="form-control" type="text" placeholder="Postal Code" ng-model="NewStudent.postal_code">
          <input type="submit" value="Add New Student">
        </div>
      </form>
      <button ng-cloak ng-show="formDisplay" ng-click="hideForm()">Finished Adding Students</button>
    </div>
    <div class="col-md-12">
      FILTERS:
      <select ng-model="School"> 
        <option value="" default selected>All Schools</option>
        <option value="SCS">Surrey Christian</option>
        <option value="LCS">Langley Christian</option>
        <option value="CCES">Credo Elementary</option>
        <option value="CCHS">Credo High</option>
        <option value="WOFO">William of Orange</option>
        <option value="CC">Cloverdale Christian</option>
      </select>
      <select ng-model="City" >
        <option value="" default selected>All Cities</option>
        <option value="Surrey">Surrey</option>
        <option value="Langley">Langley</option>
      </select>
      <p>
<!-- The results variable is populated by the ng-repeat directive below -->
        <ng-pluralize 
            count="results.length"
            when="{'0': 'No students match the selected filter criteria',
                   '1': '1 student matches the selected filter criteria',
                   'other': '{} students match the selected filter criteria'}">
        </ng-pluralize>
      </p>
      <table>
        <tr> 
          <th>First Name</th>
          <th>Last Name</th>
          <th>School</th>
          <th>Grade</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Street Address</th>
          <th>City</th>
          <th>Postal Code</th>
        </tr>
<!-- The 'as results' allows the result of the filter to be stored in a variable called results so the information can be used elsewhere. In this case it is used to display the number of students that meet the user's filter criteria. -->
        <tr ng-repeat="student in students | filter:School |filter:City as results">
          <td>{{student.first_name}}</td>
          <td>{{student.last_name}}</td>
          <td>{{student.school}}</td>
          <td>{{student.grade}}</td>
          <td>{{student.phone}}</td>
          <td>{{student.email}}</td>
          <td>{{student.street_address}}</td>
          <td>{{student.city}}</td>
          <td>{{student.postal_code}}</td>
          <td><button ng-click="removeStudent($index)">Delete</button></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-12" ng-controller="MapCtrl">
    <select ng-model="selectedRoute" > 
      <option value="" disabled selected >Select Your Route</option>
      <option value="101" >101</option>
      <option value="102" >102</option>
      <option value="103" >103</option>
      <option value="104" >104</option>
      <option value="105" >105</option>
      <option value="106" >106</option>
      <option value="107" >107</option>
      <option value="108" >108</option>
      <option value="201" >201</option>
      <option value="202" >202</option>
      <option value="203" >203</option>
      <option value="204" >204</option>
      <option value="205" >205</option>
      <option value="206" >206</option>
      <option value="207" >207</option>
      <option value="208" >208</option>
    </select>
    <button ng-click="firstStep()">Show this route</button> 
    <button ng-click="printMap()">Print Map</button> 
    <div id="map-canvas">
    </div>
  </div>
</div>
















