@import "bootstrap-sass-official/assets/stylesheets/_bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap";

#map-canvas {
  height: 1000px;
  width: 100%;
}
li {
  list-style: none;
}
table {
  margin-bottom: 50px;
}
th {
  width: 10%;
  &.narrow {
    width: 5%;
  }
  &.table-button {
    width: 5%;
  }
}
.edit-student {
  margin: 50px 0 25px;
}
.filter-results {
  color: blue;
}
.heading {
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: #BEC6D8;
}
td.delete-button,
td.details-button {
  background-color: white;
}
.search-box input {
  width: 10%;
}
