@import "bootstrap-sass-official/assets/stylesheets/_bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap";

/*** Generic Styling ***/

.main-content {
  padding: 0 20px;
}


/*** Header ***/

#header {
  h1 {
    margin: 0;
    padding: 25px 0;
    text-align: center;
  }
  .header-links {
    text-align: center;
  }
  span {
    color: white;
    font-size: 20px;
    margin-right: 15px;
  }
  .signup-button,
  .login-button {
    margin: 0 15px;
  }
  .import-students-button {
    margin-left: 25px;
    margin-right: 25px;
  }
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
  width: 100%;
  height: 150px;
  background-color: #4C7193; 
  padding: 0 20px;
}

/*** Flash Messages ***/

.flash-messages {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

/*** Import Students Page ***/

.import-students {
  text-align: center;
  .submit-button {
    margin-top: 20px;
  }
}
.choose-file {
  margin: auto;
}

/*** Manage Students Page ***/

#goto-top {
  position: fixed;
  top: 150px;
  right: 0;
}
#goto-map {
  position: fixed;
  top: 175px;
  right: 0;
}
.search-box {
  font-size: 16px;
  input {
    width: 10%;
    margin-bottom: 10px;
  }
}
.filter-results {
  margin-top: 10px;
  font-size: 16px;
  color: blue;
}
.filter-criteria {
  font-size: 16px;
}



li {
  list-style: none;
}
table {
  margin-bottom: 50px;
}
th {
  text-align: center;
  width: 10%;
  &.narrow {
    width: 5%;
  }
  &.table-button {
    width: 45px;
  }
}
td {
  text-align: center;
  height: 30px;
}
.delete-button,
.edit-button,
.details-button {
  width: 70px;
}
.seats-required {
  font-size: 20px;
  margin-left: 20px;
}
.edit-student {
  margin: 50px 0 25px;
}
.heading {
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: #BEC6D8;
}

/*** Add Student Form ***/

#add-new-student-button,
#add-student-submit {
  margin-top: 20px;
}
#finished-adding-button {
  margin-bottom: 20px;
}
#add-new-student-button {
  display: block;
  margin-bottom: 20px;
}
#add-student-form {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  input,
  button {
    width: 70%;
  }
}
#add-siblings {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  input {
    width: 70%;
  }
  .add-sibling-button {
    margin: 20px 0;
  }
}

/*** Edit Student Form ***/

#edit-student-form {
  vertical-align: top;
  display: inline-block;
  width: 25%;
  input {
    width: 70%;
  }
  textarea {
    width: 70%;
    height: 200px;
  }
}
#save-changes-button,
#save-student-only,
#close-without-saving {
  width: 70%;
  margin-top: 20px;
}

/*** Student Details List ***/

#details-list {
  width: 100%;
}
#hide-details-button {
  margin-top: 20px;
}
#comment-details {
  width: 400px;
}

/*** Adding Markers ***/

#reset-markers,
#add-markers {
  margin-top: 20px;
}

/*** Edit Route Info ***/

.edit-single {
  margin: 20px 0;
  padding: 10px;
  width: 40%;
  display: inline-block;
  vertical-align: top;
  border: 3px solid black;
  h3 {
    padding: 0;
    margin: 0;
  }
  input {
    display: inline-block;
    width: 100px;
  }
}
.multiple-edit {
  margin: 20px 0;
  padding: 10px;
  width: 55%;
  display: inline-block;
  vertical-align: top;
  border: 3px solid black;
  input {
    margin-bottom: 20px;
    display: block;
  }
  h3 {
    margin: 0;
    padding: 0;
  }
}
#start-selecting-students {
  margin: 30px 30px;
}


/*** Map ***/

#map-display {
  .btn {
    margin: 15px 0;
  }
}
#map-canvas {
  height: 1000px;
  width: 100%;
}





